.game h1 {
    font-size: 2.5em;
}

.points span {
    font-weight: bold;
}

.tip span {
    color: #ecfa00;
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #ecfa00;
    display: flex;
}

.letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
}

.letterContainer {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2.0em;
    text-align: center;
    margin-right: 1em;
}



  @media screen and (max-width: 600px){

    .game h1 {
        font-size: 2.0em;
    }

    .tip {
        font-size: 1.1rem;
    }

    .wordContainer {
        border: 8px solid #ecfa00;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .letter, .blankSquare {
        font-size: 25px;
        line-height: 1.5;
        border: 3px solid #000;
        height: 40px;
        width: 35px;
        text-transform: uppercase;
        background-color: #FFF;
        color: #000;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .letterContainer {
        margin-bottom: 1.2em;
    }
    
    .letterContainer form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .letterContainer input {
        height: 40px;
        width: 40px;
        font-size: 2.0em;
        text-align: center;
        margin-right: 1em;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    
  }
  
  /* Estilos para telas de 768px até 992px */
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    
  }
  
  /* Estilos para telas de 992px até 1200px */
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    
  }
  
  /* Estilos para telas de 1200px em diante */
  @media only screen and (min-width: 1200px) {
    
  }